<html lang="en">
<head>
    {% load static %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
      body{
        background-image: url('{% static 'image/Rectangle.png' %}');
      }
      .mainav{
        background-color: #B7DACF;
      }
    </style>
</head>
<body>
    <div class="mainav">
        <nav class="navbar navbar-expand-lg mainav">
          <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
              <div class="navbar-nav">
                <a class="nav-link active" aria-current="page" href="user_home">Home</a>
                <a class="nav-link active" aria-current="page" href="deposite">Deposite</a>
                <a class="nav-link active" aria-current="page" href="withraw">Withdrawal</a>
                <a class="nav-link active" aria-current="page" href="userlogout">Logout</a>

              </div>
            </div>
          </div>
        </nav>
      </div>

      <div class="container ">
        <div  class="row ms-5 mt-3">
          <div style="background-color: #B7DACF;border-radius: 12px;" class="col-3 mt-5 ">
            <p style="text-align: center;font-weight:700;font-size: large;">Deposite</p><br>
            <form action="deposite" method="post">
              {% csrf_token %}
              <label style="font-weight: 600;">Account Number</label><br><br>
              <input type="number" name="account_no" placeholder=" Enter Account Number"> <br><br>
              <label style="font-weight: 600;">Amount</label><br><br>
              <input type="number" name="deposite" placeholder="enter amount for deposite"> <br><br><br>
              <div style="text-align: center;"><input style="border-radius: 8px;" type="submit" value="Deposite"></div>
            </form>
          </div>
        </div>
      </div>


    {% if depositewarning %}
        { depositewarning }
    {% endif %}


    {% if deposited %}
        { deposited }
    {% endif %}


    {% if depositeacntissue %}
        { depositeacntissue }
    {% endif %}
</body>
</html>